#chat {
    border: 3px solid blue;
    width: 80vw;
    height: 90vh;
    position: relative;
}
#chatThread {
    list-style: none;
}
#chatThread li {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#chatInput {
    position: absolute;
    bottom: 10px;
}
#chatInput #inputText {
    padding: 0.5rem;
    border: 2px solid blueviolet;
    margin: 1rem;
}