* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
#chat {
    border: 3px solid blue;
    width: 100vw;
    height: 100vh;
    position: relative;
}
#chatThread {
    list-style: none;
}
#chatThread li {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#chatInput {
    position: absolute;
    bottom: 10px;
}
#chatInput #inputText {
    padding: 0.5rem;
    border: 2px solid blueviolet;
    margin: 1rem;
}
#canvas {
    
    width: 300px;
    height: 300px;
    border: 2px solid green;
    display: none;
    position: absolute;
    top: 0;
}